button {
    padding: 1rem;
    width: 150px;
    background: #000;
    color: #fff;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid salmon;
    margin: 0 10px;
    cursor: pointer;
}