.container_artists {
    display: flex;
    margin: 50px auto;
    border: 1px solid #ccc;
    width: 70%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.back{
    margin: 10px !important;
    background: #aaa;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    .container_artists{
        width: 100%;
        flex-wrap: wrap;
    }
}